<div class="box">
  <h2>{{ "ADMIN.UPDATE.title" | translate }}</h2>
  <input
    type="text"
    placeholder="{{ 'ADMIN.UPDATE.latin' | translate }}"
    value="{{ chosenProduct.latinName }}"
    #latinName
    (keyup.enter)="
      updateProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <input
    type="text"
    placeholder="{{ 'ADMIN.UPDATE.name' | translate }}"
    #name
    value="{{ chosenProduct.name }}"
    (keyup.enter)="
      updateProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <input
    type="text"
    placeholder="{{ 'ADMIN.UPDATE.price' | translate }}"
    #price
    value="{{ chosenProduct.price }}"
    (keyup.enter)="
      updateProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <textarea
    type="text"
    placeholder="{{ 'ADMIN.UPDATE.description' | translate }}"
    #description
    value="{{ chosenProduct.description }}"
    (keyup.enter)="
      updateProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  ></textarea>
  <br />
  <input
    type="file"
    placeholder="{{ 'ADMIN.UPDATE.image' | translate }}"
    #image
    class="file"
    accept=".png"
    (keyup.enter)="
      updateProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <button
    class="btn"
    (click)="
      updateProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  >
    {{ "ADMIN.UPDATE.button" | translate }}
  </button>
</div>
