<ul>
  <li
    *ngFor="
      let plant of plants
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
    "
  >
    <div class="card">
      <div class="card-body">
        <div class="card-text latinName">{{ plant.latinName }}</div>
        <div class="card-text name">
          {{ plant.name }}
          <div class="card-text price">{{ plant.price }}</div>

          <button class="btn" (click)="selectForUpdate(plant)">
            {{ "ADMIN.LIST.update" | translate }}
          </button>
          <button class="btn delete" (click)="selectForDelete(plant)">
            {{ "ADMIN.LIST.delete" | translate }}
          </button>
        </div>
        <img
          class="image"
          [src]="plant.image"
          alt="image from {{ plant.name }}"
        />
      </div>
    </div>
  </li>
</ul>
<div class="pagination">
  <ngb-pagination
    [collectionSize]="plants?.length"
    [(page)]="page"
    [(pageSize)]="pageSize"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
  ></ngb-pagination>
</div>
