<div class="footer">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-5 mt-md-0 mt-3">
        <h5>{{ "FOOTER.title" | translate }}</h5>
        <p>
          {{ "FOOTER.text" | translate }}
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-3 mb-md-0 mb-3"></div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5>{{ "FOOTER.where" | translate }}</h5>
        <ul class="list-unstyled">
          <li class="icon">
            <a href="tel:0472112720">
              <mat-icon aria-hidden="false" aria-label="phone icon"
                >local_phone</mat-icon
              >
              <div class="text">0472112720</div>
            </a>
          </li>
          <li class="icon">
            <a href="mailto:jeremymees123@gmail.com">
              <mat-icon aria-hidden="false" aria-label="mail icon"
                >local_post_office</mat-icon
              >
              <div class="text">jeremymees123@gmail.com</div>
            </a>
          </li>
          <li class="icon">
            <a
              target="_blank"
              href="https://www.google.be/maps/place/Motstraat+20,+3570+Alken/@50.872954,5.3063742,17z/data=!3m1!4b1!4m5!3m4!1s0x47c118b83782cc61:0x905c1b52337b1c9!8m2!3d50.872954!4d5.3085629"
            >
              <mat-icon aria-hidden="false" aria-label="location icon"
                >location_on</mat-icon
              >
              <div class="text">Motstraat 20c 3570 Alken</div>
            </a>
          </li>
          <li class="icon">
            <a href="https://www.facebook.com/jeremy.mees.9/" target="_blank">
              <mat-icon
                aria-hidden="false"
                aria-label="facebook icon"
                class="icon"
                >facebook</mat-icon
              >
              <div class="text">{{ "FOOTER.profile" | translate }}</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="https://plantify.com/"> Plantify.com</a>
  </div>
</div>
