<div class="box">
  <h2>Update product</h2>
  <input
    type="text"
    placeholder="latin name"
    value="{{ chosenProduct.latinName }}"
    #latinName
  />
  <br />
  <input
    type="text"
    placeholder="Name"
    #name
    value="{{ chosenProduct.name }}"
  />
  <br />
  <input
    type="text"
    placeholder="Price"
    #price
    value="{{ chosenProduct.price }}"
  />
  <br />
  <textarea
    type="text"
    placeholder="description"
    #description
    value="{{ chosenProduct.description }}"
  ></textarea>
  <br />
  <input type="file" placeholder="image" #image class="file" accept=".png" />
  <br />
  <button
    class="btn"
    (click)="
      updateProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  >
    Update product
  </button>
</div>
