<div>
  <h2>{{ "ADMIN.ADD.title" | translate }}</h2>
  <input
    type="text"
    placeholder="{{ 'ADMIN.ADD.latin' | translate }}"
    #latinName
    (keyup.enter)="
      addProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <input
    type="text"
    placeholder="{{ 'ADMIN.ADD.name' | translate }}"
    #name
    (keyup.enter)="
      addProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <input
    type="text"
    placeholder="{{ 'ADMIN.ADD.price' | translate }}"
    #price
    (keyup.enter)="
      addProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <textarea
    type="text"
    placeholder="{{ 'ADMIN.ADD.description' | translate }}"
    #description
    (keyup.enter)="
      addProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  ></textarea>
  <br />
  <input
    type="file"
    placeholder="{{ 'ADMIN.ADD.image' | translate }}"
    #image
    class="file"
    accept=".png"
    (keyup.enter)="
      addProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  />
  <br />
  <button
    class="btn"
    (click)="
      addProduct(
        latinName.value,
        name.value,
        price.value,
        image,
        description.value
      )
    "
  >
    {{ "ADMIN.ADD.button" | translate }}
  </button>
</div>
