<nav class="full-nav sticky-top">
  <a routerLink="/home" routerLinkActive="active" class="text-dark brand"
    >Plantify</a
  >
  <div ngbDropdown class="nav-link">
    <button class="dropdown" id="dropdownBasic1" ngbDropdownToggle>
      {{ "NAVBAR.account" | translate }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropper">
      <button ngbDropdownItem>
        <a
          class="dropdown-item text-dark"
          routerLink="/account"
          routerLinkActive="active"
        >
          {{ "NAVBAR.account" | translate }}
        </a>
      </button>
      <button ngbDropdownItem [hidden]="isLoggedIn">
        <a
          class="dropdown-item text-dark"
          routerLink="/register"
          routerLinkActive="active"
          >{{ "NAVBAR.register" | translate }}</a
        >
      </button>
      <button ngbDropdownItem [hidden]="isLoggedIn">
        <a
          class="dropdown-item text-dark"
          routerLink="/login"
          routerLinkActive="active"
          >{{ "NAVBAR.login" | translate }}</a
        >
      </button>
      <button ngbDropdownItem [hidden]="!isLoggedIn">
        <a
          class="dropdown-item text-dark"
          (click)="logout()"
          routerLink="/product-list"
          routerLinkActive="active"
          >{{ "NAVBAR.logout" | translate }}</a
        >
      </button>
      <button ngbDropdownItem>
        <select
          #langSelect
          (change)="translate.use(langSelect.value)"
          class="btn"
        >
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{ lang }}
          </option>
        </select>
      </button>
    </div>
  </div>
  <a routerLink="/home" routerLinkActive="active" class="text-dark nav-link"
    >HOME</a
  >

  <a
    routerLink="/shopping-cart"
    routerLinkActive="active"
    class="text-dark cart nav-link"
    ><mat-icon aria-hidden="false" aria-label="shopping-cart icon"
      >shopping_basket</mat-icon
    >
    <span class="cart-text"> {{ "NAVBAR.cart" | translate }}</span></a
  >
  <a
    routerLink="/product-list"
    routerLinkActive="active"
    class="text-dark nav-link"
    >{{ "NAVBAR.product" | translate }}</a
  >
</nav>

<nav class="hamburger sticky-top">
  <a routerLink="/home" routerLinkActive="active" class="text-dark brand-ham"
    >Plantify</a
  >
  <button mat-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
  </button>
</nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    autoFocus="false"
    mode="over"
    [(opened)]="isMenuOpen"
    class="sidenav"
    (click)="onSidenavClick()"
  >
    <a
      mat-button
      routerLink="/home"
      routerLinkActive="active"
      class="text-dark nav-link"
      >HOME</a
    >
    <a
      mat-button
      routerLink="/product-list"
      routerLinkActive="active"
      class="text-dark nav-link"
      >{{ "NAVBAR.product" | translate }}</a
    >
    <a
      mat-button
      routerLink="/shopping-cart"
      routerLinkActive="active"
      class="text-dark nav-link"
      ><span> {{ "NAVBAR.cart" | translate }}</span
      >&nbsp;
      <mat-icon aria-hidden="false" aria-label="shopping-cart icon"
        >shopping_basket</mat-icon
      >
    </a>
    <a
      mat-button
      class="nav-link text-dark"
      routerLink="/account"
      routerLinkActive="active"
    >
      {{ "NAVBAR.account" | translate }}
    </a>
    <a
      [hidden]="isLoggedIn"
      mat-button
      class="nav-link text-dark"
      routerLink="/register"
      routerLinkActive="active"
      >{{ "NAVBAR.register" | translate }}</a
    >
    <a
      [hidden]="isLoggedIn"
      mat-button
      class="nav-link text-dark"
      routerLink="/login"
      routerLinkActive="active"
      >{{ "NAVBAR.login" | translate }}</a
    >
    <a
      [hidden]="!isLoggedIn"
      mat-button
      class="nav-link text-dark"
      (click)="logout()"
      routerLink="/product-list"
      routerLinkActive="active"
      >{{ "NAVBAR.logout" | translate }}</a
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
