nav {
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(4px) !important;
  height: 3.5em;
  padding-top: 0.5em;
}

button:focus {
  outline: none;
}

.cart {
  position: relative;
  bottom: 5px;
}

.cart-text {
  position: relative;
  bottom: 5px;
}

.nav-link {
  float: right;
}

.brand {
  font-weight: 900;
  font-size: 20px;
  padding-left: 0.5em;
}

a {
  padding-right: 0.5em;
}

a:hover {
  text-decoration: none;
}

.dropdown {
  background: inherit;
  border: none;
}

.dropdown:focus {
  outline: none;
}

select {
  position: relative;
  left: 10px;
}

.dropdown-item:active {
  background-color: rgba(189, 189, 189, 0) !important;
}

.active {
  background-color: rgba(189, 189, 189, 0) !important;
}

.brand-ham {
  position: relative;
  left: 10px;
  font-size: 20px;
  font-weight: 900;
}

.menu-button {
  float: right;
}

.sidenav-container {
  flex: 1;
  .sidenav {
    max-width: 200px;
    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
    }
  }
  main {
    padding: 18px 24px;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 650px) {
  .full-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
