ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0.5em;
}

li {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
  width: 40%;
  min-width: 250px;
}

.image {
  position: relative;
  bottom: 100px;
  left: 75%;
  width: 75px;
  height: 100px;
}

.btn {
  margin-right: 5px;
}

.btn:hover {
  color: black;
}
h2 {
  margin-left: 35%;
}

.card {
  padding-top: 1em;
  border: #e2e2e2 solid 2px;
  height: 175px;
}

.delete {
  color: crimson;
}

.delete:hover {
  color: red;
}

.pagination {
  justify-content: center;
}

ngb-pagination ::ng-deep a {
  color: rgb(70, 70, 70) !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border: 2px solid #71e06c;
  background-color: rgb(255, 255, 255);
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}
