.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: #3f3f3f;
  padding: 5px;
}

a:hover {
  color: #252525;
  text-decoration: none;
  cursor: pointer;
}
