.btn {
  background-color: #71e06c;
  width: 250px;
  margin-bottom: 0.5rem;
}

input {
  background-color: transparent;
  border: #e2e2e2 solid 1px;
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 250px;
}

input:focus {
  outline: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #fffdfd;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: transparent;
}
