<div class="container">
  <div class="centered">
    <input
      class="input"
      placeholder="{{ 'LOGIN.email' | translate }}"
      type="text"
      #email
      (keyup.enter)="login(email.value, password.value)"
    />
    <br />
    <input
      class="input"
      type="password"
      placeholder="{{ 'LOGIN.password' | translate }}"
      type="password"
      #password
      (keyup.enter)="login(email.value, password.value)"
    />
    <br />
    <button class="btn" (click)="login(email.value, password.value)">
      Log in
    </button>
    <br />
    <button [hidden]="forgot" class="btn" (click)="forgotPassword()">
      {{ "LOGIN.forgot" | translate }}
    </button>
    <input
      [hidden]="!forgot"
      class="input"
      placeholder="{{ 'LOGIN.email' | translate }}"
      type="text"
      #emailReset
      (keyup.enter)="resetPassword(emailReset.value)"
    />
    <br />
    <button
      [hidden]="!forgot"
      class="btn"
      (click)="resetPassword(emailReset.value)"
    >
      {{ "LOGIN.reset" | translate }}
    </button>
  </div>
</div>
