<div class="container-fluid align-items-center">
  <div class="buttons">
    <button class="btn" (click)="switchContent(false)">Products</button>
    <button class="btn" (click)="switchContent(true)">Admins</button>
  </div>

  <div class="products" [hidden]="switch">
    <div class="row">
      <app-admin-list
        (editClick)="productToUpdate($event)"
        (deleteClick)="deleteProduct($event)"
        class="col-md-8 col-sm-12"
        [plants]="plants"
      ></app-admin-list>
      <div class="col-md-4 col-sm-12">
        <app-admin-update
          *ngIf="chosenProduct"
          [chosenProduct]="chosenProduct"
          (updateClick)="updateProduct($event)"
        ></app-admin-update>
        <app-admin-add (newProduct)="addNewProduct($event)"></app-admin-add>
      </div>
    </div>
  </div>

  <div class="admins" [hidden]="!switch">
    <div class="row">
      <app-admin-user-list
        class="col-md-8 col-sm-12"
        [admins]="admins"
        (editAdmin)="adminToUpdate($event)"
        (delete)="adminToDelete($event)"
      ></app-admin-user-list>
      <div class="col-md-4 col-sm-12">
        <app-admin-user-update
          *ngIf="chosenAdmin"
          [chosenAdmin]="chosenAdmin"
          (updateAdmin)="updateAdmin($event)"
        ></app-admin-user-update>
        <app-admin-user-add
          (newAdmin)="addNewAdmin($event)"
        ></app-admin-user-add>
      </div>
    </div>
  </div>
</div>
