.container {
  width: 90%;
  display: block;
  margin: auto;
}

.update {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.btn {
  background-color: #9fc131;
  width: 45%;
  margin-left: 0.5em;
}

.btn:hover {
  cursor: pointer;
}

.buttons {
  display: block;
  margin: auto;
  min-width: 300px;
  max-width: 50%;
  margin-bottom: 2em;
}
