<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Plantify</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="closeActiveModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>continue shopping or checkout</p>
  <button class="btn" (click)="closeActiveModal()">continue shopping</button>
  <button class="btn" (click)="redirectToShoppingcart()">
    go to shoppingcart
  </button>
</div>
