<div class="container">
  <div class="green">
    <h2>The green mission from Plantify</h2>
    <p>
      Plantify originated from the will to literally green houses with the most
      beautiful houseplants. Buying fresh house plants could be simpler and more
      convenient instead of lifting a fracture in the garden center, you had to
      be able to do it online to order. But, not only our plants need the most
      beautiful shade of green we also go for green in our business processes.
      Which means; less use of plastic and more focus on recycling, CO2
      emissions compensation, a longer life of your houseplant, a transparent
      production process and cooperate with "green" initiatives.
    </p>
  </div>
  <img src="../assets/hands.png" />
  <div class="long">
    <h2>A long and green plant life</h2>
    <p>
      At Plantify, we think it is important that the houseplant you purchase has
      a long life. That is not only good for your wallet, because you don't have
      to buy a new houseplant as often, but it is also less harmful to the
      environment! If we all keep our houseplants alive longer, we can reduce
      the impact of polluting production processes!
    </p>
  </div>
  <div class="delivery">
    <h2>Delivery without worries!</h2>
    <p>
      Unfortunately, just like driving to the garden center, delivering parcels
      entails CO2 emissions. But, because we want to minimize our impact on the
      planet, we work together with USPS. They are working hard to deliver
      completely emission-free in 25 inner cities from 2025, with bicycles and
      electric vehicles. In addition, we are looking into the possibilities of
      using a tool that calculates the CO2 emissions per package. With these
      insights, we can not only optimize our delivery method, but also
      investigate how we can best offset those emissions.
    </p>
  </div>
  <div class="plastic">
    <h2>Less plastic and more efficiency</h2>
    <p>
      Our packaging is made from FSC cardboard and is therefore produced as
      sustainably as possible. We ship houseplants in all kinds of different
      shapes and sizes, which means there is sometimes still empty space in the
      box. Currently we use 4 sizes of boxes, but if we want to use a box that
      fits the plant perfectly for all plants, we need 10 to 15 different box
      sizes. That challenge is still too great. We are, however, developing a
      box that can hold several plants at the same time! We are also trying to
      develop an adaptable box. In addition, we have set ourselves the goal of
      no longer using plastic to protect the plant in the box by the end of
      2022. We would also like to replace the protective plastic for the ceramic
      pots with a sustainable method!
    </p>
  </div>
  <img src="../assets/nature.png" />
  <div class="help">
    <h2>Help Plantify become even greener!</h2>
    <p>
      Are you also for a healthy planet and do you know exactly what we need to
      do to make our business processes greener? Let us know! We can use your
      help and are open to green partnerships.
      <button class="btn">
        <a href="mailto:jeremymees123@gmail.com">
          <mat-icon aria-hidden="false" aria-label="mail icon"
            >local_post_office</mat-icon
          ></a
        >
      </button>
    </p>
  </div>
</div>
