.container {
  width: 90%;
  display: block;
  margin: 0 auto;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: black;
}

.btn {
  margin: auto;
  display: block;
  background-color: #9fc131;
  padding-top: 10px;
}

ng-lottie {
  display: block;
  margin: 0 auto;
  width: 25%;
  margin-bottom: 2em;
  margin-top: 2em;
}

@media (max-width: 500px) {
  ng-lottie {
    width: 100%;
  }
}
