<div class="container">
  <div class="green">
    <h2>{{ "MISSION.GREEN.title" | translate }}</h2>
    <p>
      {{ "MISSION.GREEN.text" | translate }}
    </p>
  </div>
  <ng-lottie [options]="flower"></ng-lottie>
  <div class="long">
    <h2>{{ "MISSION.LONG.title" | translate }}</h2>
    <p>
      {{ "MISSION.LONG.text" | translate }}
    </p>
  </div>
  <div class="delivery">
    <h2>{{ "MISSION.DELIVERY.title" | translate }}</h2>
    <p>
      {{ "MISSION.DELIVERY.text" | translate }}
    </p>
  </div>
  <div class="plastic">
    <h2>{{ "MISSION.PLASTIC.title" | translate }}</h2>
    <p>
      {{ "MISSION.PLASTIC.text" | translate }}
    </p>
  </div>
  <ng-lottie [options]="nature"></ng-lottie>
  <div class="help">
    <h2>{{ "MISSION.HELP.title" | translate }}</h2>
    <p>
      {{ "MISSION.HELP.text" | translate }}
      <button class="btn">
        <a href="mailto:jeremymees123@gmail.com">
          <mat-icon aria-hidden="false" aria-label="mail icon"
            >local_post_office</mat-icon
          ></a
        >
      </button>
    </p>
  </div>
</div>
