<nav>
  <ul>
    <li>Plantify</li>
    <li>
      <a routerLink="/product-list" routerLinkActive="active">products</a>
    </li>
    <li>
      <a routerLink="/shopping-cart" routerLinkActive="active">shoppingcart</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active">log in</a>
    </li>
    <li>
      <a routerLink="/register" routerLinkActive="active">register</a>
    </li>
    <li>
      <a (click)="logout()">log out</a>
    </li>
    <li>
      <a routerLink="/account" routerLinkActive="active">account</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
