ul {
  list-style: none;
  padding-left: 0;
}

.list {
  width: 90%;
  color: #333;
  margin: 0 auto;
  margin-bottom: 1em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

li {
  padding: 0.5em;
  text-align: left;
  width: 23%;
  margin-bottom: 1em;
  margin-right: 1em;
  border: 1px solid #333;
  border-radius: 15px;
}

.product {
  position: relative;
  height: 100%;
}

.product-body {
  position: absolute;
  bottom: 0;
  left: 0;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  width: 90%;
  margin: auto;
  padding: 1em;
  height: auto;
}

@media (max-width: 750px) {
  li {
    width: 100%;
  }

  .header {
    width: 50%;
    margin: auto;
    padding: 1em;
    height: auto;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

.product :hover {
  cursor: pointer;
}

.btn {
  background-color: #71e06c;
}

input {
  display: inline;
  background: inherit;
  border: 1px solid #333;
  border-radius: 15px;
}

input[type="submit"] {
  margin-left: -60px;
  height: 25px;
  width: 60px;
  background: inherit;
  border: none;
  color: #333;
}

input[type="submit"]:hover {
  color: black;
}

input[type="submit"]:focus {
  background: inherit;
}

.search {
  max-width: 400px;
  width: 90%;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.buttons {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.button {
  margin-left: 1em;
  margin-bottom: 1em;
}

input:focus {
  background-color: #a6ffa1;
  outline: none;
}

.pagination {
  justify-content: center;
}

ngb-pagination ::ng-deep a {
  color: rgb(70, 70, 70) !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border: 2px solid #71e06c;
  background-color: rgb(255, 255, 255);
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}
