<div class="parent">
  <div class="btn-group">
    <button class="btn" (click)="sort('high')">high - low</button>
    <button class="btn" (click)="sort('low')">low - high</button>
    <button class="btn" (click)="sort('new')">new - old</button>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn" type="button" (click)="searchByString(search.value)">
        Search
      </button>
    </div>
    <input
      aria-describedby="inputGroup-sizing-default"
      type="text"
      #search
      class="form-control"
      placeholder="Product name"
    />
  </div>
</div>
<ul>
  <li *ngFor="let plant of plants" (click)="onSelect(plant)">
    <div class="card">
      <img
        class="card-img-top"
        [src]="plant.image"
        alt="image from {{ plant.latinName }}"
      />
      <div class="card-body">
        <div class="card-text latinName">{{ plant.latinName }}</div>
        <div class="card-text name">
          {{ plant.name }}
          <div class="card-text price">{{ plant.price }}</div>
        </div>
      </div>
    </div>
  </li>
</ul>
