ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  text-align: left;
}

.btn {
  background-color: #6c757d;
}

.margin-r {
  margin-right: 5px;
}

button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.card-body {
  background-color: white;
  padding: -5px;
}

.price {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

img {
  text-align: center;
  width: 400px;
  height: 450px;
}

.parent {
  display: flex;
  justify-content: center;
}

.input-group {
  margin-left: 5px;
  height: 100%;
  width: 350px;
}

input {
  position: relative;
  top: 10px;
}
