ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  text-align: left;
}

.btn {
  background-color: #71e06c;
}

.margin-r {
  margin-right: 5px;
}

button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  background-color: #bfc5bf;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.card-body {
  background-color: inherit;
  padding: -5px;
}

.price {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

img {
  text-align: center;
  width: 400px;
  height: 450px;
}

.parent {
  display: flex;
  justify-content: center;
}

.input-group {
  margin-left: 5px;
  height: 30px;
  width: 350px;
}

input {
  background-color: #71e06c;
  position: relative;
  top: 9px;
  height: 40px;
}

input:focus {
  background-color: #a6ffa1;
  outline: none;
}

.buttons {
  width: 300px;
  margin: auto;
  transform: translate(30%);
}

.page {
  margin-right: 10px;
}

.pagination {
  justify-content: center;
}

ngb-pagination ::ng-deep a {
  color: rgb(70, 70, 70) !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border: 2px solid #71e06c;
  background-color: rgb(255, 255, 255);
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}
