<div class="parent">
  <div class="child">
    <div class="image">
      <img [src]="plant?.image" alt="image from {{ plant?.latinName }}" />
    </div>
  </div>
  <div class="child">
    <div class="content">
      <div>
        <h1>{{ plant?.name }}</h1>
        <p>{{ plant?.latinName }}</p>
        <p>
          <b>{{ plant?.price }}</b>
        </p>
        <div class="inline">
          <p class="quantity">
            <button class="minus btn-q" (click)="quantityDown(plant)">-</button>

            {{ plant?.quantity }}

            <button class="plus btn-q" (click)="quantityUp(plant)">+</button>
          </p>
        </div>
        <h5>{{ "DETAILS.description" | translate }}</h5>
        <div class="description">
          {{ plant?.description }}
        </div>
        <br />
        <button class="add btn" (click)="addProductToCart(plant)">
          {{ "DETAILS.cart" | translate }}
        </button>
        <button class="btn" (click)="backToProductList()">
          {{ "DETAILS.back" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
