<div class="container">
  <h4 class="" id="">Plantify</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="closeActiveModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="body">
  <p>{{ "MODAL.continue" | translate }}</p>
  <button class="btn" (click)="closeActiveModal()">
    {{ "MODAL.list" | translate }}
  </button>
  <button class="btn" (click)="redirectToShoppingcart()">
    {{ "MODAL.cart" | translate }}
  </button>
</div>
