li {
  margin: 25px;
  display: inline;
  padding: 10px;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  background: #9bbddd;
  box-shadow: 20px 20px 60px #84a1bc, -20px -20px 60px #b2d9fe;
}
