<ul>
  <div class="flex-container">
    <li *ngFor="let product of products">
      <div class="product">
        <div class="image-container">
          <img
            class="card-img-top"
            [src]="product.image"
            alt="image from {{ product.latinName }}"
          />
        </div>
        <div>
          {{ "CART.name" | translate }}<b>{{ product.name }}</b>
        </div>
        <div>
          {{ "CART.price" | translate
          }}{{ (product.price * product.quantity).toFixed(2) }}
        </div>
        <div>{{ "CART.quantity" | translate }}{{ product.quantity }}</div>
        <button class="btn" (click)="dec(product)"><b>-</b></button>
        <button class="btn" (click)="inc(product)"><b>+</b></button>
        <button class="btn" (click)="deleteFromCart(product)">delete</button>
      </div>
    </li>
  </div>
</ul>

<div *ngIf="!totalPrice" class="no-products">
  <h4>{{ "CART.empty" | translate }}</h4>
  <a routerLink="/product-list" routerLinkActive="active">
    <button class="no-product-button">
      {{ "CART.product-button" | translate }}
    </button>
  </a>
</div>

<div class="total" *ngIf="totalPrice">
  <p>
    {{ "CART.total" | translate }}<b>{{ totalPrice }}</b>
  </p>
  <button class="btn pay" (click)="pay()">{{ "CART.pay" | translate }}</button>
</div>
