<div class="mission">
  <div class="mission-text">
    <h2>{{ "HOME.MISSION.title" | translate }}</h2>
    <p>
      {{ "HOME.MISSION.text" | translate }}
      <b>{{ "HOME.MISSION.bold" | translate }}</b>
    </p>
    <button class="btn buttons" (click)="redirectToMission()">
      {{ "HOME.MISSION.button" | translate }}
    </button>
  </div>
</div>

<div class="perfect">
  <div class="perfect-image">
    <img class="w-50 image" src="../assets/plant.png" />
  </div>
  <div class="perfect-content">
    <div class="perfect-text">
      <h2>{{ "HOME.PERFECT.title" | translate }}</h2>
      <p>{{ "HOME.PERFECT.text" | translate }}</p>
      <button class="btn buttons perfect-btn" (click)="redirectToProductList()">
        {{ "HOME.PERFECT.button" | translate }}
      </button>
    </div>
  </div>
</div>

<div class="loves">
  <h1 class="loves-titel">{{ "HOME.LOVES.title" | translate }}</h1>
  <div>
    <ul>
      <div class="flex-container">
        <li class="list-item" *ngFor="let plant of plants">
          <div class="card" (click)="onSelect(plant)">
            <div class="loves-image-container">
              <img
                [src]="plant.image"
                class="loves-image"
                alt="image from {{ plant.latinName }}"
              />
            </div>
            <div class="card-body">
              <div class="card-text latinName">{{ plant.latinName }}</div>
              <div class="card-text name">
                {{ plant.name }}
                <div class="card-text price">{{ plant.price }}</div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <div class="grower-text">
    <h2 class="title">{{ "HOME.GROWER.title" | translate }}</h2>
    <p>{{ "HOME.GROWER.text" | translate }}</p>
  </div>
</div>
