<div class="mission">
  <div class="mission-text">
    <h2>{{ "HOME.MISSION.title" | translate }}</h2>
    <p>
      {{ "HOME.MISSION.text" | translate }}
      <b>{{ "HOME.MISSION.bold" | translate }}</b>
    </p>
    <button class="btn buttons" (click)="redirectToMission()">
      {{ "HOME.MISSION.button" | translate }}
    </button>
  </div>
</div>

<div class="perfect">
  <div class="perfect-image">
    <img class="w-50 image" src="../assets/plant.png" />
  </div>
  <div class="perfect-content">
    <div class="perfect-text">
      <h2>{{ "HOME.PERFECT.title" | translate }}</h2>
      <p>{{ "HOME.PERFECT.text" | translate }}</p>
      <button class="btn buttons perfect-btn" (click)="redirectToProductList()">
        {{ "HOME.PERFECT.button" | translate }}
      </button>
    </div>
  </div>
</div>

<div class="loves">
  <h1 class="loves-title">{{ "HOME.LOVES.title" | translate }}</h1>
  <div>
    <div class="flex-container">
      <mat-card *ngFor="let plant of plants" (click)="onSelect(plant)">
        <div class="loves-image-container">
          <img
            mat-card-image
            [src]="plant.image"
            alt="image from {{ plant.latinName }}"
            class="loves-image"
          />
        </div>
        <mat-card-content>
          <div>{{ plant.latinName }}</div>
          <div>{{ plant.name }}</div>
          <div>{{ plant.price }}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grower-text">
    <h2 class="title">{{ "HOME.GROWER.title" | translate }}</h2>
    <p>{{ "HOME.GROWER.text" | translate }}</p>
  </div>
</div>
