.mission {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.mission-text {
  margin: auto;
  color: #333;
}

.loves {
  color: #333;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.buttons {
  background-color: #71e06c;
  margin-bottom: 1em;
}

.perfect {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.perfect-image {
  flex-grow: grow;
  height: 100%;
  flex: 60%;
}

.image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.perfect-content {
  flex: 40%;
}

.perfect-text {
  color: #333;
  margin-top: 50%;
  position: relative;
  left: -2em;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255),
    1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

.perfect-btn {
  display: block;
  margin: auto;
}

.grower-text {
  margin-top: 1em;
  margin: auto;
  color: #333;
}

.title {
  margin-top: 1em;
}

ul {
  padding-left: 0;
  list-style: none;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  padding-left: 1em;
  margin-bottom: 1em;
}

.list-item {
  width: 25%;
}

.loves-image {
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

.loves-image-container {
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.card {
  max-height: 100%;
  flex: 25%;
  text-align: left;
  background-color: rgb(227, 229, 226);
}

.card-body {
  background-color: inherit;
}

.card :hover {
  cursor: pointer;
}

.loves-titel {
  text-align: center;
  margin-top: 1em;
}

@media (max-width: 500px) {
  .perfect-text {
    margin-top: 1em;
    position: relative;
    left: 0;
  }
}

@media (max-width: 650px) {
  .list-item {
    width: 100%;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .loves-image {
    object-fit: contain;
    width: 100%;
    height: 250px;
  }
}
