.container {
  width: 90%;
  display: block;
  margin: auto;
}

ul {
  list-style: none;
  margin-top: 1em;
  padding-left: 0;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.style {
  border: 1px solid #333;
  border-radius: 15px;
}

.style:hover {
  border: 1px solid black;
  color: black;
}

.product {
  position: relative;
  height: 100%;
}

.product-body {
  position: absolute;
  bottom: 0;
  left: 0;
}

li {
  padding: 0.5em;
  text-align: left;
  width: 23%;
  margin-bottom: 1em;
  margin-right: 1em;
  border: 1px solid #333;
  border-radius: 15px;
}

li:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  li {
    width: 100%;
  }

  .product {
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

.green {
  border: 1px solid #5cff61;
}

.red {
  border: 1px solid #db4242;
}

input {
  background-color: transparent;
  border: #ffffff solid 1px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.btn {
  margin-left: 10px;
}

label {
  margin-right: 10px;
}

.inputs {
  padding: 0.5em;
  margin: auto;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #333;
  border-radius: 15px;
}

.input-content {
  margin-left: 1em;
}
.bought {
  margin: auto;
  border-radius: 20px;
  width: 100%;
  padding: 1em;
}

h4 {
  text-align: center;
  margin-top: 20px;
}

.card {
  background-color: transparent;
  border: none;
}

.admin-button {
  margin-top: 2em;
  background-color: #71e06c;
  width: 30%;
  display: block;
  margin: auto;
}
