li {
  margin: 25px;
  display: inline;
  padding: 10px;
}

.green {
  border: 1px solid #5cff61;
}

.red {
  border: 1px solid #db4242;
}

input {
  background-color: transparent;
  border: #ffffff solid 1px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.btn {
  background-color: #6c757d;
}

label {
  margin-right: 10px;
}

.line {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  border-bottom: 1px solid rgb(34, 34, 34);
}

.inputs {
  width: 100%;
  text-align: center;
}

h4 {
  text-align: center;
  margin-top: 20px;
}
