<div class="inputs" *ngIf="input === false">
  <p>username : {{ name }}</p>
  <p>email : {{ email }}</p>
  <button class="btn" (click)="updateToInputs()">update</button>
  <div class="line"></div>
</div>

<div class="inputs" *ngIf="input === true">
  <label>username </label>
  <input
    [value]="[name]"
    type="string"
    id="name"
    #nameInput
    [ngClass]="colorLengthName"
    (focusout)="checkName($event, nameInput.value)"
  />
  <label *ngIf="colorLengthName == 'red'">
    Name needs to contain 6 characters</label
  >
  <br />
  <label>email </label>
  <input
    [value]="[email]"
    type="string"
    id="email"
    #emailInput
    [ngClass]="colorEmail"
    (focusout)="checkEmail($event, emailInput.value)"
  />
  <label *ngIf="colorEmail == 'red'"> Email needs to contain '@' and '.'</label>
  <br />
  <label>password </label>
  <input
    [value]="[password]"
    type="password"
    id="password"
    #passwordInput
    (focusout)="lengthPassword($event)"
    [ngClass]="colorLengthPassword"
  />
  <label *ngIf="colorLengthPassword == 'red'">
    Password needs to contain 6 characters</label
  >
  <br />
  <label>password check </label>
  <input
    [value]="[password]"
    type="password"
    id="passwordc"
    #passwordcInput
    [ngClass]="colorCheck"
    (focusout)="checkPassword($event, passwordInput.value)"
  />
  <label *ngIf="colorCheck == 'red'"> Passwords aren't the same</label>
  <br />
  <button
    class="btn"
    (click)="
      updateInputsNewValue(
        nameInput.value,
        emailInput.value,
        passwordInput.value,
        passwordcInput.value
      )
    "
  >
    update
  </button>
  <div class="line"></div>
</div>
<h4>Recently bought products</h4>
<ul>
  <li *ngFor="let boughtProduct of boughtProducts">
    <div class="card">
      <div class="card-body">
        <div class="card-text latinName">{{ boughtProduct.latinName }}</div>
        <div class="card-text name">
          {{ boughtProduct.name }}
          <div class="card-text price">{{ boughtProduct.price }}</div>
          <button class="btn" (click)="redirectToProductDetails(boughtProduct)">
            Product details
          </button>
        </div>
        <div class="image"></div>
      </div>
    </div>
  </li>
</ul>
