<div class="container">
  <div class="centered">
    <input
      type="text"
      id="name"
      placeholder="{{ 'REGISTER.name' | translate }}"
      #name
      [ngClass]="colorLengthName"
      (focusout)="checkName($event, name.value)"
      (keyup.enter)="
        register(name.value, email.value, password.value, passwordc.value)
      "
    />
    <br />
    <label *ngIf="colorLengthName == 'red'">
      {{ "REGISTER.name-label" | translate }}</label
    >
    <br />
    <input
      type="text"
      id="email"
      placeholder="{{ 'REGISTER.email' | translate }}"
      #email
      [ngClass]="colorEmail"
      (focusout)="checkEmail($event, email.value)"
      (keyup.enter)="
        register(name.value, email.value, password.value, passwordc.value)
      "
    />
    <br />
    <label *ngIf="colorEmail == 'red'">
      {{ "REGISTER.email-label" | translate }}</label
    >
    <br />
    <input
      (focusout)="lengthPassword($event)"
      type="password"
      id="password"
      placeholder="{{ 'REGISTER.password' | translate }}"
      #password
      [ngClass]="colorLengthPassword"
      (keyup.enter)="
        register(name.value, email.value, password.value, passwordc.value)
      "
    />
    <br />
    <label *ngIf="colorLengthPassword == 'red'">
      {{ "REGISTER.password-label" | translate }}</label
    >
    <br />
    <input
      (focusout)="checkPassword($event, password.value)"
      placeholder="{{ 'REGISTER.password-check' | translate }}"
      type="password"
      id="passwordc"
      #passwordc
      [ngClass]="colorCheck"
      (keyup.enter)="
        register(name.value, email.value, password.value, passwordc.value)
      "
    />
    <br />
    <label *ngIf="colorCheck == 'red'">
      {{ "REGISTER.password-check-label" | translate }}</label
    >
    <br />
    <button
      class="btn"
      (click)="
        register(name.value, email.value, password.value, passwordc.value)
      "
    >
      {{ "REGISTER.button" | translate }}
    </button>
  </div>
</div>
