<p>
  name:
  <input
    type="text"
    id="name"
    #name
    [ngClass]="colorLengthName"
    (focusout)="checkName($event, name.value)"
  />
  <label *ngIf="colorLengthName == 'red'">
    Name needs to contain 6 characters</label
  >
</p>
<p>
  email address:
  <input
    type="text"
    id="email"
    #email
    [ngClass]="colorEmail"
    (focusout)="checkEmail($event, email.value)"
  />
  <label *ngIf="colorEmail == 'red'"> Email needs to contain '@' and '.'</label>
</p>
<p>
  password:
  <input
    (focusout)="lengthPassword($event)"
    type="password"
    id="password"
    #password
    [ngClass]="colorLengthPassword"
  />
  <label *ngIf="colorLengthPassword == 'red'">
    Password needs to contain 6 characters</label
  >
</p>
<p>
  password check:
  <input
    (focusout)="checkPassword($event, password.value)"
    type="password"
    id="passwordc"
    #passwordc
    [ngClass]="colorCheck"
  />
  <label *ngIf="colorCheck == 'red'"> Passwords aren't the same</label>
</p>
<button
  (click)="register(name.value, email.value, password.value, passwordc.value)"
>
  log in
</button>
