li {
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  background-color: transparent;
  border: #333 solid 1px;
  border-radius: 15px;
}

.green {
  border: 1px solid #5cff61;
}

.red {
  border: 1px solid #db4242;
}

.delete {
  color: crimson;
}

.delete:hover {
  color: red;
}

.delete:focus {
  outline: none;
}

.product-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-flex-item-left {
  width: 30%;
}

h2 {
  text-align: center;
  color: #333;
  padding: 1em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.flex-child {
  width: 50%;
}

.btn {
  margin-right: 5px;
}

img {
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.image-container {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.sum {
  text-align: center;
  padding: 1em;
  color: #333;
}

input {
  background-color: transparent;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-bottom: 1em;
  height: 30px;
  width: 48%;
  margin-right: 0.5em;
}

input:focus {
  outline: none;
}

.error {
  color: crimson;
  text-align: center;
  margin-bottom: 1em;
}

.total {
  padding: 1em;
  margin-top: 1em;
  width: 90%;
  margin: auto;
  border: #333 solid 1px;
  border-radius: 15px;
}

.cart {
  width: 90%;
  display: block;
  margin: auto;
}

.pay {
  background-color: #9fc131;
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 0.5em;
}

.no-products {
  margin-top: 10em;
  width: 100%;
  text-align: center;
  color: #333;
}

.no-product-button {
  padding: 1em;
  border: 2px solid #9fc131;
  border-radius: 25px;
  background-color: inherit;
  transition: ease-out 0.3s;
  color: #333;
}

.no-product-button:hover {
  color: #ffffff;
  background-color: #9fc131;
  cursor: pointer;
}

.no-product-button:focus {
  outline: none;
}

.product-flex-item-right {
  width: 50%;
}

@media (max-width: 1200px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .no-products {
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .flex-child {
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  input {
    width: 100%;
    margin-right: 0em;
  }

  .delete {
    margin: 0em;
  }
}
